<!-- code adapted from https://github.com/amadevBox/2048 -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>2048 Game by Team Bajas</title>
    
    <base href="public/">

    <link rel="stylesheet" href="/style.css"> <!--Calls CSS file-->
  </head>

  <body>
    <h1>2048</h1>
    <p id="score"></p>
    <div id="size-bloc">
        <p id="size-title">Size:</p>
        <select id="size">
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <input id="change-size" type="button" value="OK">
        <input id="reset-board" type="button" value="New Game">
        <div class="clear"></div>
    </div>

    <div id="canvas-block"> <!--Sets size of board-->
      <canvas id="canvas" width="500" height="500"></canvas>
    </div>
    <script src="/script.js"></script> <!--Calls scripts file-->
  </body>
</html>
