/* code adapted from https://github.com/amadevBox/2048 */

body
{
    margin: 0;
    padding: 0;
  
    background: #faf8ef;
    color: #776E65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

#container
{
    width: 500px;
    margin: 0 auto;
}

#title
{
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
}

#score-container
{
    position: relative;
    float: right;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 25px + 22px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 17px;
}

.clear
{
    clear: both;
}

#size-container
{
    margin-top: 15px;
    margin-left: -122px;
    padding-left: 50%;
}

#size-title
{
    float: left;
    margin-top: 0px;
}

#size
{
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
}

#canvas
{
    margin-top: 20px;
    position: relative;
    padding: 15px;
    background: #776e65;
    border-radius: 6px;
    box-sizing: border-box;
}

#canvas-block
{
    margin-left: -250px;
    padding-left: 50%;
}

@media (max-width: 992px) {
    #keypads {
        width: 500px;
        margin: 0 auto;
    }

    #canvas-block {
        margin-left: -250px;
        padding-left: 50%;
        margin-top: 25px;
    }

    .keypad-up, .keypad-down, .keypad-left, .keypad-right {
        position: relative;
    }

    .keypad-up {
        top: -580px;
        left: 250px;
    }

    .keypad-down {
        top: -10px;
        left: 170px;
    }

    .keypad-left {
        top: -295px;
        left: -66px;
    }

    .keypad-right {
        top: -295px;
        left: 486px;
    }

    .fa {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .fa {
        display: none!important;
    }
}